

<!--<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">

        
          <span class="mdl-layout-title">Scotch Pets</span>

          
          <div class="mdl-layout-spacer"></div>

         
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/']">Home</a>
            <a class="mdl-navigation__link" [routerLink]="['/cats']">Cats</a>
            <a class="mdl-navigation__link" [routerLink]="['/dogs']">Dogs</a>
          </nav>
        </div>
      </header>

      <main class="mdl-layout__content">
        <h1 class="header-text">We care about pets...</h1>
      </main>
    </div>-->

 <div id="container" class="template_viewer" style="height: 100%;">
        <div id="header">
            <div class="navigation">
                <div id="wixLogo">
                    <a href="http://www.wix.com/">Wix Press</a>
                </div>
            
            </div>
            <!-- End of .navigation-->
        </div>
        <!-- End of #Header-->
        <div id="headerShadows">
            <div class="rightShadow"></div>
            <div class="leftShadow"></div>
        </div>
        <!-- End of #HeaderShadows-->
        <div class="contentWrapper" style="height: calc(100% - 46px);">
            <div class="preview-tab preview-tab-desktop" style="height: 600px;">
                <iframe src="http://www.wix.com/demone2/outdoor-bags" width="100%" height="100%"></iframe>
            </div>

            <!--</div>--><!-- End of .content-->
        </div>
        <!-- End of .contentWrapper-->

        <div id="dialog-overlay"></div>
        <div id="dialog-box">
            <a id="close-pop-up-button" href="#">Close Pop Up Button</a>
            <div class="dialog-content">
                <h1 class="dialog-title">&#8216;Outdoor Bags&#8217; - Website Template</h1>
                <div class="leftColumn">
                    <h3>Good For:</h3>

                    <div id="dialog-good-for">Online stores, shops, outdoor gear retailers and accessory boutiques.</div>
                    <h3>Description:</h3>

                    <div id="dialog-description" itemprop="description">Rugged and sleek with a bold layout, this eCommerce template is tailor-made for stores selling more than just products: they sell a lifestyle. And with Wix Stores, managing your inventory is easy! Upload images of your product , add descriptions and prices, and start selling.</div>
                </div>
                <div class="rightColumn">
                    <span>
                        <h3>Difficulty:&nbsp;</h3>
                        <div id="dialog-difficulty" itemprop="difficulty">Medium</div>
                    </span>
                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <h3>Price:&nbsp;</h3>
                        <div id="dialog-price" itemprop="price">eCommerce</div>
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    </span>
                    <a href="#" id="dialog-edit-now">Edit now</a>
                </div>
                <div class="clearBoth">&nbsp;</div>
            </div>
            <div class="dialog-box-shadows">
                <div class="leftShadow"></div>
                <div class="rightShadow"></div>
            </div>
        </div>
        <!-- End of #dialog-box-->

    </div>
    
    <!-- Router Outlet -->
      <!--  The RouterOutlet directive is used to display views for a given route. 
      This is where templates of specific routes are loaded while we navigate:-->
    <!--<router-outlet></router-outlet>-->
    <!--<h1>
  {{title}}
</h1> -->
